





.modal-header {
            background-color: #048e2b;
            color: white;
    }

        .modal-body {
            background-color: #f9f9f9;
        }
    

        .btn-primary {
            background-color: #048e2b;
            border-color: #048e2b;
        }
    
        .btn-primary:hover {
            background-color: #036823;
            border-color: #036823;
        }
    
       
        .form-control:focus {
            border-color: #048e2b;
            box-shadow: 0 0 5px rgba(4, 142, 43, 0.5);
        }
    
      
        .close {
            color: white;
            opacity: 0.9;
        }
    
        .close:hover {
            color: #ccc;
        }
    
        /* Modal Content */
        .modal-content {
            border-radius: 5px;
            border: none;
        }
    
    


    /* Custom styles for toastr */
    .toast {
        font-size: 20px;  /* Change font size */
        padding: 20px;    /* Increase padding */
        min-width: 300px; /* Minimum width */
        max-width: 500px; /* Maximum width */
    }

    